body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	color: #00d590;
}
h3{
	text-align: center;
	color: #f66;
}
.flat{
	position: relative;
	text-align: center;
}
svg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.room {
	opacity: 0;
	transition: opacity .5s ease;
}
.room:hover{
	opacity: .4;
}
.description{
	padding: 20px;
	height: 200px;
	width: 150px;
	position: absolute;
	top: calc(50% - 100px);
	left: 10px;
	box-shadow: 2px 2px 5px #ccc;
	display: none;
	text-align: center;
	font-weight: 300;
}