.button, .singin {
  text-align: center;
  color: #fff;
  background-color: #30AE63;
  height: 40px;
  cursor: pointer;
  border: none; }
  .singin:hover,
  .button:hover
   {
    background: rgba(48,174,99,0.8); }

.nav_btn, .singin {
  display: block;
  cursor: pointer;
  padding: 15px 5px 10px;
  margin-right: 30px;
  color: #fff; }
  .nav_btn img, .singin img {
    padding: 3px 9px 3px 3px; }
  .nav_btn:hover, .singin:hover {
    border-bottom: 2px solid #fff; }
  .nav_btn:active, .singin:active, .nav_btn.active, .active.singin {
    border-bottom: 2px solid #fff; }

.block_button_nav {
  background-color: #85CEA3;
  cursor: pointer;
  padding: 10px 30px 10px 5px;
  line-height: 17px;
  color: #fff;
 }
.block_button_nav img {
  cursor: pointer;
    padding: 0 10px; }

.singin {
  margin-right: 0;
  cursor: pointer;
  margin-left: 15px; }

.form_button {
  background-color: #fff;
  padding: 10px 40px;
  color: #30AE63;
  height: 40px;
  cursor: pointer;
  border: none;
  margin-top: 25px; }
.form_button:hover{
    background-color: #85cea3;
    color: #fff; }
  

.metro-btn {
  width: 320px;
  margin-top: 10px; }

body {
  background-color: rgba(90, 104, 114, 0.08);
  color: #152935;
  font-family: 'Roboto', sans-serif;
  font-size: 14px; }

a {
  text-decoration: none;
  cursor: pointer; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

/*li {
  list-style: none; }*/

.wrap, .metro, .bestoffer, .lastoffer {
  /*max-width: 890px;*/
  margin: 0 auto; }

.header {
  background-color: #2FAD64;
  width: 100%;
  color: #fff; }

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.nav_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: no-wrap;
      -ms-flex-wrap: no-wrap;
          flex-wrap: no-wrap; }

.nav_logo {
  display: block;
  padding: 20px 0 0 0;
  margin-right: 40px; }

.menu {
  margin-top: 12px; }

.menu_item {
  display: inline-block;
  list-style: none; }

.block_button {
  margin-top: 17px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: no-wrap;
      -ms-flex-wrap: no-wrap;
          flex-wrap: no-wrap; }

.h1 {
  font-size: 32px;
  margin-top: 63px;
  font-weight: normal; }

.choice {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: no-wrap;
      -ms-flex-wrap: no-wrap;
          flex-wrap: no-wrap;
  padding-top: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 122px; }

.city {
  width: 340px; }

.room_block {
  margin: 8px 0; }

.room_label {
  margin-bottom: 20px; }

.checkbox {
  cursor: pointer;
  display: inline-block;
  line-height: 43px;
  margin-right: 20px; }
  .checkbox input {
    display: none; }
    .checkbox input + span:before {
      content: " ";
      height: 40px;
      width: 40px;
      float: left;
      background-color: #2FAD64;
      border: 2px solid #fff;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      margin-right: -26px; }
    .checkbox input:checked + span {
      content: " ";
      color: #152935; }
    .checkbox input:checked + span:before {
      content: " ";
      background-color: #fff; }

.metro {
  margin-top: 20px;
  padding: 43px 40px 35px 40px;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.h2 {
  color: #30AE63;
  padding-bottom: 18px;
  font-size: 24px;
  font-weight: normal; }

.radio_type {
  cursor: pointer;
  display: inline-block;
  height: 30px;
  width: 70px;
  line-height: 30px;
  margin-right: 10px;
  margin-bottom: 15px;
  text-align: center; }
  .radio_type input {
    display: none; }
    .radio_type input + span:before {
      content: " ";
      font-size: 14px;
      height: 28px;
      width: 72px;
      float: left;
      background-color: #fff;
      border-bottom: 2px solid #fff;
      -webkit-transition: 1s;
      transition: 1s;
      margin-right: -70px; }
    .radio_type input:checked + span {
      content: " ";
      -webkit-transition: .3s;
      transition: .3s;
      padding-bottom: 10px;
      background-color: #ffffff;
      border-bottom: 2px solid #30AE63; }

.metro-image_item {
  width: 100%; }

.bestoffer {
  margin-top: 20px;
  background-color: #fff; }

.h3 {
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  color: #152935;
  margin-bottom: 28px;
  padding-top: 23px;
  width: 100%; }

.offer_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 25px;
  margin-bottom: 40px; }

.offer_item {
  width: 25%;
  height: auto;
  list-style: none; 
/*  -webkit-flex-basis: 200px;
      -ms-flex-preferred-size: 200px;
          flex-basis: 200px;*/
  margin-right: 10px; }

.offer_item_img {
  width: 100%;
  position: relative;
  margin-bottom: 15px; }

.offer_setting {
  position: absolute;
  top: 12px;
  right: 10px; }
.img_offer{
  width: 100%;
}
.offer_price {
  font-size: 16px;
  padding-bottom: 10px; }
  .offer_price img {
    padding-left: 20px; }

.offer_properties {
  font-size: 12px;
  color: #8C9BA5;
  padding-bottom: 17px; }

.metro-properties {
  font-size: 12px; }
  .metro-properties img {
    padding-right: 10px; }

.offer_lookat {
  display: block;
  width: 100%;
  border-top: 2px solid #F0F3F6;
  height: 40px;
  text-align: center;
  padding-top: 10px;
  font-size: 16px;
  color: #152935;}
.offer_lookat a:hover,
.offer_lookat a:active,
.offer_lookat a:visited{
    color: #152935;
}  

.lastoffer {
  margin-top: 20px;
  background-color: #fff;
  text-align: center; }

.offer_block {
  margin-top: 10px;
  text-align: left; }

.h3_last {
  margin-bottom: 19px; }

.last_offer_block {
  margin-top: 15px;
  margin-bottom: 47px; }


/*____RRRRRRRRRRRRRRRRRRRR_____*/

  @media screen and (min-device-width: 890px) {.wrap, .metro,.bestoffer, .lastoffer,
    .base-element, .telegram, .metrovka-blog, .page-footer {
      width: 78.8%; } }
/*  @media screen and (min-device-width: 1280px) {.wrap, .metro,.bestoffer, .lastoffer,
    .base-element, .telegram, .metrovka-blog, .page-footer {
    
      font-size: 1.2em;}
      }*/

@media only screen and (min-device-width: 360px) and (max-device-width: 890px) {
 .wrap, .metro, .bestoffer, .lastoffer, .base-element, .telegram, .metrovka-blog, .page-footer {
    width: 100%; } }

/** {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  cursor: pointer; }

body {
  background-color: rgba(90, 104, 114, 0.08); }*/

.button {
  display: block;
  background: #30AE63;
  text-align: center;
  padding: 10px;
  border-radius: 3px;
  color: white; }
  .button:hover {
    background: rgba(48,174,99,0.8); }

.telegram {
  padding-top: 61px;
  text-align: center;
  font-size: 14px;
  font-family: 'Roboto', sans-serif; 
  margin: 0 auto; }   
  .telegram .text-wrapper {
    margin: 0 auto; }
    @media only screen and (min-device-width: 360px) and (max-device-width: 890px) {
      .telegram .text-wrapper {
        width: 80%; } }
    @media screen and (min-device-width: 890px) {
      .telegram .text-wrapper {
        max-width: 56%; } }
    .telegram .text-wrapper h2 {
      font-size: 24px;
      color: #30AE63;
      line-height: 1.33; }
    .telegram .text-wrapper p {
      margin-top: 20px;
      line-height: 1.42; }
  .telegram .slider {
    margin-top: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .telegram .slider input {
      display: none; }
    .telegram .slider .slides {
      margin-top: 40px;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
  .telegram .telegram-photo {
    width: 31.685%; }
    @media only screen and (min-device-width: 360px) and (max-device-width: 890px) {
      .telegram .telegram-photo {
        display: none; } }
    .telegram .telegram-photo img {
      width: 100%; }
  .telegram .telegram-window {
    background-color: #FFFFFF;
    text-align: left; }
    @media only screen and (min-device-width: 360px) and (max-device-width: 890px) {
      .telegram .telegram-window {
        padding-left: 20px;
        padding-top: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
    @media screen and (min-device-width: 890px) {
      .telegram .telegram-window {
        padding-left: 42px;
        padding-top: 53px;
        width: 49%; } }
    .telegram .telegram-window .title {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .telegram .telegram-window img {
      height: 62px;
      width: 62px; }
    .telegram .telegram-window h4 {
      font: 24px/1.33 'Open Sans', sans-serif;
      color: #152935;
      margin-left: 10px;
      display: block; }
    .telegram .telegram-window h3 {
      margin-top: 15px;
      margin-bottom: 10px; }
      @media screen and (min-device-width: 890px) {
        .telegram .telegram-window h3 {
          font-size: 24px;
          line-height: 1.33; } }
      @media only screen and (min-device-width: 360px) and (max-device-width: 890px) {
        .telegram .telegram-window h3 {
          font-size: 20px;
          color: #30AE63;
          line-height: 1.6; } }
    .telegram .telegram-window ol {
      display: block;
      width: 80%;
      line-height: 1.428;
      margin-top: 15px;
      margin-left: 15px; }
      .telegram .telegram-window ol li {
        margin-bottom: 12px; }
    .telegram .telegram-window .tel-button {
      height: 40px;
      margin-bottom: 50px;
      line-height: 1.28; }
      @media screen and (min-device-width: 890px) {
        .telegram .telegram-window .tel-button {
          width: 320px; } }
      @media only screen and (min-device-width: 360px) and (max-device-width: 890px) {
        .telegram .telegram-window .tel-button {
          width: 80%; } }
  .telegram .wrapper-slider-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    @media screen and (min-device-width: 890px) {
      .telegram .wrapper-slider-buttons {
        width: 44%; } }
    @media only screen and (min-device-width: 360px) and (max-device-width: 890px) {
      .telegram .wrapper-slider-buttons {
        width: 100%; } }
  .telegram .point-controls {
    margin-top: 39px; }
  .telegram label {
    cursor: pointer; }
  .telegram label.slider-buttons {
    display: block;
    line-height: 1.22;
    height: 27px; }
  .telegram label.slider-points {
    height: 16px;
    width: 16px;
    display: inline-block;
    background: url(../img/point-classic.png) no-repeat; }
  .telegram #telegram-radio-1:checked ~ .point-controls label:nth-of-type(1),
  .telegram #telegram-radio-2:checked ~ .point-controls label:nth-of-type(2) {
    background: url(../img/point-checked.png) no-repeat; }
  .telegram #telegram-radio-1:checked ~ .wrapper-slider-buttons label:nth-of-type(1),
  .telegram #telegram-radio-2:checked ~ .wrapper-slider-buttons label:nth-of-type(2) {
    background: url(../img/selected-btn-back.jpg) repeat-x 0 100%; }

.metrovka-blog {
  background-color: #FFFFFF;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  padding-top: 20px;
  margin: 0 auto; 
  margin-top: 55px; }
  .metrovka-blog .text-wrapper {
    margin: 0 auto;
    text-align: center; }
    @media only screen and (min-device-width: 360px) and (max-device-width: 890px) {
      .metrovka-blog .text-wrapper {
        width: 90%; } }
    @media screen and (min-device-width: 890px) {
      .metrovka-blog .text-wrapper {
        width: 50%; } }
    .metrovka-blog .text-wrapper h2 {
      font-size: 24px;
      line-height: 1.33; }
    .metrovka-blog .text-wrapper p {
      margin-top: 20px;
      line-height: 1.428; }
  .metrovka-blog .images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 20px; }
    @media only screen and (min-device-width: 360px) and (max-device-width: 890px) {
      .metrovka-blog .images {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
    .metrovka-blog .images .descr-text {
      margin-top: 20px; }
    .metrovka-blog .images .category {
      font-size: 11px;
      line-height: 1.45; }
    .metrovka-blog .images .fiolet-c {
      color: #BA8FF7; }
    .metrovka-blog .images .blue-c {
      color: #2573D8; }
    .metrovka-blog .images .green-c {
      color: #30AE63; }
    .metrovka-blog .images h3 {
      font-size: 16px;
      line-height: 1.5;
      color: #152935;
      margin-top: 5px; }
    .metrovka-blog .images p {
      font-size: 12px;
      line-height: 1.33;
      color: #8C9BA5;
      margin-top: 20px; }
      @media only screen and (min-device-width: 360px) and (max-device-width: 890px) {
        .metrovka-blog .images p {
          margin-bottom: 30px; } }
    @media screen and (min-device-width: 890px) {
      .metrovka-blog .images .blog-element {
        width: 30.5%; } }
    @media only screen and (min-device-width: 360px) and (max-device-width: 890px) {
      .metrovka-blog .images .blog-element {
        width: 90%; } }
    .metrovka-blog .images img {
      width: 100%; }
  .metrovka-blog .blog-link {
    text-align: center;
    margin-top: 39px;
    padding: 10px;
    height: 40px;
    width: 100%;
    background: url(../img/blog-line.png) repeat-x 0 0; }
    .metrovka-blog .blog-link a {
      font-size: 16px;
      line-height: 1.5;
      color: #152935; }

.page-footer {
  padding-top: 60px; 
  margin: 0 auto; }
  .page-footer .footer-nav-menus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 1.53;
    color: #152935; }
    @media screen and (min-device-width: 890px) {
      .page-footer .footer-nav-menus {
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: stretch;
            -ms-flex-align: stretch;
                align-items: stretch; } }
    @media only screen and (min-device-width: 360px) and (max-device-width: 890px) {
      .page-footer .footer-nav-menus {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
    @media screen and (min-device-width: 890px) {
      .page-footer .footer-nav-menus .nav-menu {
        width: 18%; } }
    @media only screen and (min-device-width: 360px) and (max-device-width: 890px) {
      .page-footer .footer-nav-menus .nav-menu {
        width: 90%;
        text-align: center; } }
    .page-footer .footer-nav-menus .nav-menu h4 {
      font-size: 16px;
      line-height: 2; }
    .page-footer .footer-nav-menus .nav-menu ul {
      margin-top: 13px; }
    .page-footer .footer-nav-menus .nav-menu li {
      list-style-type: none;
      margin-bottom: 17px; }
      .page-footer .footer-nav-menus .nav-menu li a{
        color: #152935;
      }
    .page-footer .footer-nav-menus .contacts .icons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      margin-top: 13px; }
      @media only screen and (min-device-width: 360px) and (max-device-width: 890px) {
        .page-footer .footer-nav-menus .contacts .icons {
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center; } }
      .page-footer .footer-nav-menus .contacts .icons a {
        display: block;
        color: #152935;
        width: 18px;
        height: 18px;
        background: url(../img/sprite.png) no-repeat 0 0; }
      .page-footer .footer-nav-menus .contacts .icons .footer-vk {
        background-position: -34px 0;
        width: 20px;
        margin-left: 17px;
        margin-right: 17px; }
      .page-footer .footer-nav-menus .contacts .icons .footer-ins {
        background-position: -70px 0; }
    .page-footer .footer-nav-menus .contacts li.footer-contacts-1 {
      font-size: 13px;
      line-height: 1.538;
      margin-bottom: 5px; }
    .page-footer .footer-nav-menus .contacts li.footer-contacts-2 {
      font-size: 11px;
      line-height: 1.82;
      margin-bottom: 15px; }
    .page-footer .footer-nav-menus .contacts li.footer-contacts-3 {
      font-size: 13px;
      line-height: 1.538; }
    .page-footer .footer-nav-menus .button {
      width: 80%;
      height: 40px; }
      @media only screen and (min-device-width: 360px) and (max-device-width: 890px) {
        .page-footer .footer-nav-menus .button {
          display: block;
          margin: 0 auto; } }
  .page-footer .footer-logo {
    width: 100%;
    height: 100px;
    display: block;
    background: url(../img/footer-logo.png) no-repeat 50% 80%; }

.request {
  width: 800px;
  margin: 0 auto;
  background-color: #FFFFFF;
  min-height: 484px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.42;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .request .desc-text {
    width: 50%;
    background-color: #F5F7FA;
    padding-top: 45px;
    padding-left: 40px; }
    .request .desc-text h2 {
      font-size: 24px; }
    .request .desc-text p {
      margin-top: 27px;
      width: 275px; }

.request-form {
  width: 50%;
  padding: 42px 40px; }
  .request-form form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%; }
  .request-form .radio-labels {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 45%; }
    .request-form .radio-labels input {
      display: none; }
  .request-form label.req-btn {
    display: block;
    height: 27px;
    width: 65px;
    cursor: pointer;
    text-align: center; }
  .request-form #request-radio-1:checked ~ label:nth-of-type(1),
  .request-form #request-radio-2:checked ~ label:nth-of-type(2) {
    background: url(../img/selected-btn-back.jpg) repeat-x 0 100%; }
  .request-form select {
    width: 100%;
    padding: 10px 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 2px; }
  .request-form .select_option {
    padding: 10px 15px;
    margin: 8px 0;
    border: 1px solid #EBEDEF;
    box-sizing: border-box;
    border-radius: 2px; }
    .request-form .select_option:hover {
      background-color: #30AE63; }
  .request-form .room {
    margin-bottom: 30px; }
  .request-form .checkbox {
    cursor: pointer;
    display: inline-block;
    line-height: 43px;
    margin-right: 20px; }
    .request-form .checkbox input {
      display: none; }
      .request-form .checkbox input + span:before {
        content: " ";
        height: 40px;
        width: 40px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        float: left;
        background-color: #FFFFFF;
        border: 2px solid #fff;
        border-radius: 50%;
        margin-right: -26px; }
      .request-form .checkbox input:checked + span {
        content: " ";
        color: #FFFFFF; }
      .request-form .checkbox input:checked + span:before {
        content: " ";
        background-color: #30AE63; }
  .request-form ::-webkit-input-placeholder {
    font-size: 12px;
    color: #5A6872; }
  .request-form .inp-info {
    height: 40px;
    width: 100%;
    border: 2px solid #DFE3E6;
    padding-left: 10px; }
  .request-form .req-form-submit {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 15px;
    border: none; }